<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objective-C</key>
	<dict>
		<key>Beginner</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Intermediate</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Object?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c2?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Advance</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
	</dict>
	<key>PHP</key>
	<dict>
		<key>Beginner</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Intermediate</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Advance</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
	</dict>
	<key>Android</key>
	<dict>
		<key>Beginner</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Intermediate</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
		<key>Advance</key>
		<dict>
			<key>Question 1</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 2</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
			<key>Question 3</key>
			<array>
				<string>What is Objective c?</string>
				<string>answer a</string>
				<string>answer b</string>
				<string>answer c</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
